.about-project {
  padding: 80px 0 226px;

  @include desktop {
    padding: 67px 0 194px;
  }

  @include laptop {
    padding: 48px 0 194px;
  }

  @include tablet {
    padding: 48px 0 32px;
  }

  .container {
    display: flex;

    @include tablet {
      display: block;
    }
  }

  &__photo {
    position: relative;
    flex: 1 1 483px;
    box-sizing: border-box;

    @include tablet {
      padding-right: 69px;
    }

    @include mobile {
      padding-right: 32px;
    }

    &-image {
      width: 100%;

      & img {
        max-width: 100%;
        width: 100%;
        height: 600px;
        object-fit: cover;

        @include desktop {
          height: 500px;
        }

        @include tablet {
          height: 400px;
        }

        @include mobile {
          height: 320px;
        }
      }
    }

    &-link {
      position: absolute;
      z-index: 5;
      top: 290px;
      right: -113px;
      display: block;
      max-width: 226px;
      width: 100%;
      padding: 32px 28px;
      box-sizing: border-box;
      color: $blue;
      font-size: 20px;
      font-style: normal;
      font-weight: 600;
      line-height: normal;
      background-color: $yellow;
      cursor: pointer;

      @include desktop {
        top: 240px;
        right: -94px;
        max-width: 189px;
        padding: 27px 23px;
        font-size: 17px;
      }

      @include laptop {
        top: 290px;
        right: -69px;
        max-width: 139px;
        padding: 20px 16px;
        font-size: 13px;
      }

      @include tablet {
        top: 230px;
        right: 0;
      }

      @include mobile {
        top: 170px;
      }

      &-icon {
        max-width: 0 0 26px;
        width: 55px;
        height: 55px;
        margin: 0 0 26px;
        border-radius: 55px;
        background-color: $white;
        background-image: url(../assets/icons/pin-y.svg);
        background-repeat: no-repeat;
        background-position: center;
        background-size: 19px;

        @include desktop {
          max-width: 0 0 21px;
          width: 46px;
          height: 46px;
          margin: 0 0 21px;
          background-size: 16px;
        }

        @include laptop {
          max-width: 0 0 15px;
          width: 34px;
          height: 34px;
          margin: 0 0 16px;
          background-size: 12px;
        }
      }
    }
  }

  &__info {
    position: relative;
    flex: 1 1 848px;
    padding-left: 12.5%;
    box-sizing: border-box;

    @include tablet {
      margin-top: 32px;
      padding-left: 0;
    }

    &-title {
      max-width: 480px;
      margin: 6px 0 54px;
      color: $blue;
      font-size: 48px;
      font-style: normal;
      font-weight: 600;
      line-height: 50px;

      @include desktop {
        margin: 6px 0 45px;
        font-size: 40px;
        line-height: 41px;
      }

      @include laptop {
        margin: 13px 0 23px;
        font-size: 30px;
        line-height: 32px;
      }
    }

    &-wrapper {
      display: flex;
      gap: 34px;

      @include desktop {
        gap: 28px;
      }

      @include laptop {
        flex-direction: column;
        gap: 22px;
      }

      @include tablet {
      }

      @include mobile {
      }
    }

    &-item {
      flex: 1 1 50%;

      @include laptop {
        flex: 0 0 auto;
      }
    }

    &-text {
      margin: 0;
      color: $blue;
      font-size: 14px;
      font-style: normal;
      font-weight: 500;
      line-height: 22px;

      @include desktop {
        font-size: 12px;
        line-height: 19px;
      }
    }

    &-link {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 9px;
      width: 100%;
      margin: 16px 0 0;
      padding: 18px 23px;
      box-sizing: border-box;
      border-radius: 10px;
      border: 1px solid $yellow;
      color: $blue;
      font-size: 12px;
      font-style: normal;
      font-weight: 700;
      line-height: normal;
      text-transform: uppercase;
      background-color: $white;
      transition: $baseTransition;

      &:hover {
        color: $blue;
        background-color: $yellow;
      }

      &:active {
        background-color: $yellow;
      }

      &::after {
        content: '';
        display: block;
        width: 17px;
        height: 12px;
        background-image: url(../assets/icons/arrow.svg);
        background-repeat: no-repeat;
        background-position: center;
        background-size: 17px;

        @include laptop {
          width: 14px;
          height: 10px;
          background-size: 14px;
        }
      }

      @include desktop {
        font-size: 10px;
      }
    }
  }

  &__infographics {
    position: absolute;
    padding: 20px;
    top: calc(100% - 4px);
    left: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 20px;
    height: 194px;
    box-sizing: border-box;
    background: url(../assets/bg/special-project-bg.webp) no-repeat center;
    background-size: 1024px;

    @include desktop {
      height: 162px;
    }

    @include tablet {
      position: static;
      height: auto;
      margin-top: 22px;
      background-size: 800px;
    }

    @include mobile {
      flex-direction: column;
      background-size: 600px;
    }

    &-item {
      padding-left: 110px;
      background-repeat: no-repeat;
      background-position: left center;
      background-size: 64px;

      @include desktop {
        padding-left: 90px;
        background-size: 54px;
      }

      &_projects {
        background-image: url(../assets/icons/camera-wh.svg);
      }

      &_fields {
        background-image: url(../assets/icons/ball-wh.svg);
      }
    }

    &-value {
      color: $yellow;
      font-size: 50px;
      font-style: normal;
      font-weight: 600;
      line-height: 58px;

      @include desktop {
        font-size: 42px;
        line-height: 48px;
      }
    }

    &-text {
      max-width: 164px;
      color: $white;
      font-size: 16px;
      font-style: normal;
      font-weight: 500;
      line-height: 22px;

      @include desktop {
        max-width: 140px;
        font-size: 13px;
        line-height: 20px;
      }
    }
  }
}
