.contact-us {
  padding: 100px 0 109px;
  background-color: $grey;

  @include desktop {
    padding: 83px 0 91px;
  }

  @include laptop {
    padding: 40px 0 45px;
  }

  &__title {
    max-width: 478px;
    margin: 10px 0 60px;
    color: $blue;
    font-size: 48px;
    font-style: normal;
    font-weight: 600;
    line-height: 52px;

    @include desktop {
      max-width: 399px;
      margin: 8px 0 50px;
      font-size: 40px;
      line-height: 44px;
    }

    @include laptop {
      margin: 16px 0 40px;
      font-size: 30px;
      line-height: 34px;
    }

    @include tablet {
      max-width: none;
    }
  }

  &__form {
    display: flex;
    flex-wrap: wrap;
    gap: 21px 44px;
    
    @include desktop {
      gap: 20px 20px;
    }
  }

  &__fieldset {
    flex: 1 1 30%;
    padding: 0;
    margin: 0;
    border: none;
    outline: none;

    @include laptop {
      flex: 1 1 48%;
    }

    @include mobile {
      flex: 1 1 100%;
    }
  }

  &__input {
    display: inline-block;
    width: 100%;
    padding: 19px;
    box-sizing: border-box;
    border: none;
    border-radius: 12px;
    color: #133c8b;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 17px;
    outline-color: rgba($color: $yellow, $alpha: 0.5);
    background: $white;

    
    @include desktop {
      font-size: 13px;
      line-height: 14px;
    }

    &_submit {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 10px;
      background-color: $yellow;
      font-weight: 600;

      
      &::before {
        content: '';
        display: block;
        width: 17px;
        height: 12px;
        background-image: url(../assets/icons/arrow.svg);
        background-repeat: no-repeat;
        background-position: center;
        background-size: 17px;

        @include laptop {
          width: 14px;
          height: 10px;
          background-size: 14px;
        }
      }
    }
  }
}
