.interactive-map {
  position: relative;
  padding: 60px 0;
  overflow: hidden;
  background: url(../assets/bg/special-project-bg.webp) center / cover no-repeat;

  @include desktop {
    padding: 54px 0;
    background-size: 2670px;
  }

  &::before {
    content: '';
    position: absolute;
    top: -401px;
    right: -401px;
    z-index: 1;
    width: 802px;
    height: 802px;
    background-image: url(../assets/kff-logo.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    opacity: 0.15;
    transform: rotate(-66.479deg);

    @include desktop {
      top: -335px;
      right: -335px;
      width: 670px;
      height: 670px;
    }

    @include mobile {
      top: -201px;
      right: -201px;
      width: 402px;
      height: 402px;
    }
  }

  &::after {
    content: '';
    position: absolute;
    bottom: -401px;
    left: -401px;
    z-index: 1;
    width: 802px;
    height: 802px;
    background-image: url(../assets/kff-logo.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    opacity: 0.15;
    transform: rotate(20.226deg);

    @include desktop {
      bottom: -335px;
      left: -335px;
      width: 670px;
      height: 670px;
    }

    @include mobile {
      bottom: -201px;
      left: -201px;
      width: 402px;
      height: 402px;
    }
  }

  & .container {
    position: relative;
    z-index: 2;
  }

  &__title {
    margin: 10px 0 60px;
    color: $white;
    font-size: 48px;
    font-style: normal;
    font-weight: 600;
    line-height: 52px;
    text-align: center;

    @include desktop {
      margin: 8px 0 50px;
      font-size: 40px;
      line-height: 44px;
    }

    @include laptop {
      margin: 16px 0 40px;
      font-size: 30px;
      line-height: 34px;
    }

    &_sub {
      margin: 0 0 10px;
      color: $white;
      font-size: 22px;
      font-style: normal;
      font-weight: 600;
      line-height: normal;
      text-align: center;
      text-transform: uppercase;

      @include desktop {
        font-size: 20px;
      }

      @include laptop {
        font-size: 15px;
      }
    }
  }

  &__map {
    display: flex;
    gap: 80px;

    @include desktop {
      gap: 40px;
    }

    @include laptop {
      flex-direction: column-reverse;
    }

    &-buttons {
      flex: 0 0 340px;
      display: flex;
      flex-direction: column;
      gap: 16px 20px;

      @include desktop {
        flex: 0 0 280px;
      }

      @include laptop {
        flex: 0 1 auto;
        justify-content: center;
        flex-direction: row;
        flex-wrap: wrap;
      }

      &-title {
        flex: 0 1 auto;
        margin: 0 0 20px;
        font-weight: 700;
        font-size: 32px;
        line-height: 120%;
        color: #fff;

        @include laptop {
          flex: 1 1 100%;
          margin: 0 0 4px;
          font-size: 26px;
          text-align: center;
        }

        @include mobile {
          font-size: 20px;
        }
      }
    }

    &-button {
      position: relative;
      display: flex;
      flex-direction: column;
      padding: 16px 24px;
      padding-right: 60px;
      box-sizing: border-box;
      color: $white;
      border: 2px solid rgba($color: $white, $alpha: 0.5);
      background-color: rgba($color: $white, $alpha: 0);
      transition: $baseTransition;
      cursor: pointer;

      @include desktop {
        background-size: 20px;
        background-position: left 20px center;
      }

      @include laptop {
        flex: 0 0 calc(50% - 10px);
        padding: 14px 20px;
        background-size: 16px;
      }

      @include mobile {
        flex: 1 1 100%;
      }

      &:hover {
        transform: scale(1.02);
      }

      &:active {
        transform: scale(1);
      }

      &.active {
        color: #133c8b;
        background-color: $white;

        &:hover {
          fill: $yellow;
        }
      }

      &-gallery {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        display: block;
        width: 60px;
        padding: 0;
        border: none;
        background: url(../assets/icons/photo.svg) center / 28px no-repeat;
        filter: brightness(100);
        cursor: pointer;

        &.active {
          background-image: url(../assets/icons/back.svg);
        }
      }

      &.active &-gallery {
        filter: brightness(1);
      }

      &-city {
        font-size: 13px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;

        @include desktop {
          font-size: 13px;
        }

        @include laptop {
          font-size: 12px;
        }
      }

      &-name {
        font-size: 20px;
        font-style: normal;
        font-weight: 600;
        line-height: normal;

        @include desktop {
          font-size: 17px;
        }

        @include laptop {
          font-size: 15px;
        }
      }
    }

    &-wrapper {
      position: relative;
      flex: 1 1 auto;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;

      @include mobile {
        margin: 0 -10px;
      }
    }

    &-gallery {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      max-height: 500px;
      display: none;

      @include mobile {
        position: relative;
        top: auto;
        left: auto;
        right: auto;
        bottom: auto;
        max-height: none;
        width: 100%;
        aspect-ratio: 1 / 1;
      }

      &-item {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        display: none;

        &-before,
        &-after {
          position: absolute;
          top: 0;
          bottom: 0;

          & .swiper {
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;

            &-slide {
              padding-right: 8px;
              box-sizing: border-box;
              filter: drop-shadow(8px 0px 0px $white);

              @include mobile {
                padding-right: 3px;
                filter: drop-shadow(3px 0px 0px $white);
              }
            }

            &-button {
              &-next,
              &-prev {
                width: auto;
                height: auto;

                &::after {
                  content: '';
                  display: block;
                  height: 48px;
                  width: 48px;
                  border-radius: 48px;
                  background: url(../assets/icons/prev.svg) center / 14px no-repeat;
                  background-color: $white;

                  @include tablet {
                    height: 36px;
                    width: 36px;
                    background-size: 12px;
                  }

                  @include mobile {
                    height: 20px;
                    width: 20px;
                    background-size: 7px;
                  }
                }
              }

              &-next {
                right: 10%;

                &::after {
                  transform: rotate(180deg);
                }
              }

              &-prev {
                left: 10%;
              }
            }

            &-pagination {
              padding-right: 10%;
              box-sizing: border-box;

              @include mobile {
                display: none;
              }

              &-bullet {
                height: 15px;
                width: 15px;
                background-color: $white;

                @include laptop {
                  height: 10px;
                  width: 10px;
                }
              }
            }
          }
        }

        &-before {
          left: 0;
          right: calc(50% - 8px);
          z-index: 1;

          @include mobile {
            top: 0;
            left: 0;
            right: 33%;
            bottom: 44%;
          }
        }

        &-after {
          left: calc(50% - 8px);
          right: 0;
          z-index: 2;

          @include mobile {
            top: 44%;
            left: 33%;
            right: 0;
            bottom: 0;
          }
        }

        &-tag {
          position: absolute;
          z-index: 10;
          padding: 15px 42px;
          font-weight: 700;
          font-size: 24px;
          line-height: 120%;
          text-transform: uppercase;
          color: #133c8b;
          border-radius: 14px;
          background-color: #ffcc00;

          @include laptop {
            padding: 10px 24px;
            font-size: 20px;
            border-radius: 8px;
          }

          @include mobile {
            padding: 6px 16px;
            font-size: 10px;
          }
        }

        &-before &-tag {
          top: 24px;
          left: 36px;

          @include laptop {
            top: 20px;
            left: 24px;
          }

          @include mobile {
            top: 10px;
            left: 5px;
          }
        }

        &-after &-tag {
          right: 24px;
          bottom: 36px;

          @include laptop {
            right: 20px;
            bottom: 24px;
          }

          @include mobile {
            top: 10px;
            left: 5px;
            right: auto;
            bottom: auto;
          }
        }

        &-image {
          display: block;
          max-width: 100%;
          width: 100%;
          height: 100%;
          object-fit: cover;
          clip-path: polygon(15% 0%, 100% 0%, 85% 100%, 0% 100%);
          clip-path: polygon(
            calc(12% + 0px) calc(0% + 16px),
            calc(12% + 0.76px) calc(0% + 10.73px),
            calc(12% + 2.92px) calc(0% + 6.31px),
            calc(12% + 6.31px) calc(0% + 2.92px),
            calc(12% + 10.73px) calc(0% + 0.76px),
            calc(12% + 16px) calc(0% + 0px),
            calc(100% - 16px) calc(0% + 0px),
            calc(100% - 10.73px) calc(0% + 0.76px),
            calc(100% - 6.31px) calc(0% + 2.92px),
            calc(100% - 2.92px) calc(0% + 6.31px),
            calc(100% - 0.76px) calc(0% + 10.73px),
            calc(100% - 0px) calc(0% + 16px),
            calc(88% - 0px) calc(100% - 16px),
            calc(88% - 0.76px) calc(100% - 10.73px),
            calc(88% - 2.92px) calc(100% - 6.31px),
            calc(88% - 6.31px) calc(100% - 2.92px),
            calc(88% - 10.73px) calc(100% - 0.76px),
            calc(88% - 16px) calc(100% - 0px),
            calc(0% + 16px) calc(100% - 0px),
            calc(0% + 10.73px) calc(100% - 0.76px),
            calc(0% + 6.31px) calc(100% - 2.92px),
            calc(0% + 2.92px) calc(100% - 6.31px),
            calc(0% + 0.76px) calc(100% - 10.73px),
            calc(0% + 0px) calc(100% - 16px)
          );
        }
      }
    }

    &-wrapper.shymkent &-gallery,
    &-wrapper.almaty &-gallery,
    &-wrapper.balpykbi &-gallery,
    &-wrapper.aktobe &-gallery {
      display: block;
    }

    &-wrapper.shymkent &-gallery-item.shymkent,
    &-wrapper.almaty &-gallery-item.almaty,
    &-wrapper.balpykbi &-gallery-item.balpykbi,
    &-wrapper.aktobe &-gallery-item.aktobe {
      display: block;
    }

    &-svg {
      display: block;
      max-width: 100%;
      height: auto;
    }

    &-wrapper.shymkent &-svg,
    &-wrapper.almaty &-svg,
    &-wrapper.balpykbi &-svg,
    &-wrapper.aktobe &-svg {
      opacity: 0;

      @include mobile {
        display: none;
      }
    }
  }

  &__pin {
    transition: $baseTransition;

    &.almaty,
    &.balpykbi,
    &.aktau,
    &.shymkent,
    &.aktobe {
      cursor: pointer;
    }

    @keyframes bounce2 {
      0%,
      20%,
      50%,
      80%,
      100% {
        transform: translateY(0);
      }
      40% {
        transform: translateY(-30px);
      }
      60% {
        transform: translateY(-15px);
      }
    }

    &.active {
      // transform: translateY(-10px);
      animation: bounce2 1s ease;
    }
  }

  &__area {
    transition: $baseTransition;

    &.almaty,
    &.balpykbi,
    &.aktau,
    &.shymkent,
    &.aktobe {
      cursor: pointer;

      &:hover {
        fill: #ffefaf;
      }
    }

    &.active {
      fill: $yellow;

      &:hover {
        fill: #ffd900;
      }
    }
  }

  &__plans {
    &-title {
      margin: 54px 0 32px;
      font-weight: 700;
      font-size: 32px;
      line-height: 120%;
      color: $white;
      text-align: center;

      @include laptop {
        margin: 30px 0 25px;
        font-size: 26px;
      }

      @include mobile {
        font-size: 20px;
      }
    }

    &-slide {
      position: relative;
      padding: 18px;
      padding-left: 48px;
      padding-right: 12px;
      border-bottom: 1px solid rgba($color: $white, $alpha: 0.5);

      @include tablet {
        padding: 13px;
        padding-left: 36px;
      }

      &::before {
        content: '';
        position: absolute;
        top: 26px;
        left: 18px;
        display: block;
        height: 22px;
        width: 22px;
        background: url(../assets/icons/pin-b.svg) center / 15px no-repeat;
        filter: invert(1);

        @include tablet {
          top: 19px;
          left: 13px;
          height: 16px;
          width: 16px;
          background-size: 10px;
        }
      }

      &-location {
        font-weight: 400;
        font-size: 13px;
        color: #fff;

        @include laptop {
          font-size: 11px;
        }

        @include mobile {
          font-size: 9px;
        }
      }

      &-name {
        font-weight: 600;
        font-size: 19px;
        color: #fff;

        @include laptop {
          font-size: 16px;
        }

        @include mobile {
          font-size: 14px;
        }
      }
    }
  }
}
