.interactive-map {
  padding: 60px 0;
  background: url(../assets/bg/special-project-bg.webp) no-repeat center;
  background-size: 100%;

  @include desktop {
    padding: 54px 0;
    background-size: 2670px;
  }

  &__title {
    margin: 10px 0 60px;
    color: $white;
    font-size: 48px;
    font-style: normal;
    font-weight: 600;
    line-height: 52px;
    text-align: center;

    @include desktop {
      margin: 8px 0 50px;
      font-size: 40px;
      line-height: 44px;
    }

    @include laptop {
      margin: 16px 0 40px;
      font-size: 30px;
      line-height: 34px;
    }

    &_sub {
      margin: 0 0 10px;
      color: $white;
      font-size: 22px;
      font-style: normal;
      font-weight: 600;
      line-height: normal;
      text-align: center;
      text-transform: uppercase;

      @include desktop {
        font-size: 20px;
      }

      @include laptop {
        font-size: 15px;
      }
    }
  }

  &__map {
    display: flex;
    gap: 80px;

    @include desktop {
      gap: 40px;
    }

    @include laptop {
      flex-direction: column;
    }

    &-buttons {
      flex: 0 0 340px;
      display: flex;
      flex-direction: column;
      gap: 20px;

      @include desktop {
        flex: 0 0 280px;
        gap: 16px;
      }

      @include laptop {
        flex: 0 1 auto;
        flex-direction: row;
        justify-content: center;
        flex-wrap: wrap;
      }

      @include tablet {
        flex-direction: column;
        order: 1;
      }
    }

    &-button {
      display: flex;
      flex-direction: column;
      padding: 21px 22px;
      padding-left: 60px;
      border: none;
      border-radius: 12px;
      background-color: $white;
      background-image: url(../assets/icons/pin-b.svg);
      background-position: left 22px center;
      background-repeat: no-repeat;
      background-size: 23px;
      transition: $baseTransition;
      cursor: pointer;

      @include desktop {
        padding: 18px 20px;
        padding-left: 50px;
        background-size: 20px;
        background-position: left 20px center;
      }

      @include laptop {
        padding: 17px 15px;
        padding-left: 46px;
        background-size: 16px;
      }

      &:hover {
        transform: scale(1.02);
      }

      &:active {
        transform: scale(1);
      }

      &.active {
        background-color: $yellow;

        &:hover {
          fill: $yellow;
        }
      }

      &-city {
        color: $blue;
        font-size: 13px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;

        @include desktop {
          font-size: 13px;
        }

        @include laptop {
          font-size: 9px;
        }
      }

      &-name {
        color: $blue;
        font-size: 20px;
        font-style: normal;
        font-weight: 600;
        line-height: normal;

        @include desktop {
          font-size: 17px;
        }

        @include laptop {
          font-size: 15px;
        }
      }
    }

    &-wrapper {
      flex: 1 1 auto;
      display: flex;
      align-items: center;
      justify-content: center;

      @include mobile {
        margin: 0 -10px;
      }
    }

    &-svg {
      max-width: 100%;
      width: 100%;
      height: auto;
    }
  }

  &__pin {
    transition: $baseTransition;

    &.almaty,
    &.balpykbi,
    &.aktau,
    &.shymkent,
    &.aktobe {
      cursor: pointer;
    }

    @keyframes bounce2 {
      0%,
      20%,
      50%,
      80%,
      100% {
        transform: translateY(0);
      }
      40% {
        transform: translateY(-30px);
      }
      60% {
        transform: translateY(-15px);
      }
    }

    &.active {
      // transform: translateY(-10px);
      animation: bounce2 1s ease;
    }
  }

  &__area {
    transition: $baseTransition;

    &.almaty,
    &.balpykbi,
    &.aktau,
    &.shymkent,
    &.aktobe {
      cursor: pointer;

      &:hover {
        fill: #ffefaf;
      }
    }

    &.active {
      fill: $yellow;

      &:hover {
        fill: #ffd900;
      }
    }
  }
}
