.section-title {
  padding-left: 40px;
  color: $yellow;
  font-size: 22px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  text-transform: uppercase;
  background: url(../assets/icons/field-y.svg) no-repeat left center;
  background-size: 25px 20px;
}
